.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 16px 16px;
  background-color: #f2eeee;
  border-right: 1px solid var(--border-line);

  &.collapsed {
    padding: 24px 8px 16px;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px 0 8px 12px;
    margin-bottom: 40px;

    &.collapsed {
      justify-content: center;
      padding: 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    .title {
      color: var(--dark-text);
      font-size: 1.125rem;
    }

    .circle {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      background-color: var(--primary);
      margin-right: 8px;
    }
  }

  &__toggle {
    &.collapsed{
      transform: rotate(180deg);
    }
  }


  &__list {
    display: flex;
    flex-direction: column;

    &.collapsed {
      justify-content: center;
      align-items: center;
    }

  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 16px;
    cursor: pointer;

    &--hover {
      border: 1px solid var(--primary);
    }

    &--active{
      background-color: var(--primary);
      border: 1px solid var(--white);
    }

    &:focus-visible {
      outline: 1px solid var(--primary);
    }
  }

  &__text {
    color: var(--text-dark-medium);
    font-size: 0.95rem;
    white-space: nowrap;

    &--active{
      color: var(--white);
    }
  }

  &__icon {
    margin-bottom: 2px;
  }

  &__bottom {
    border-top: 1px solid var(--border-line);
    padding-top: 12px;

    &.collapsed {
      margin: 0 auto;
    }
  }
  .sidebar__list li{
    position: relative;
  }
  .tooltip {
    position: absolute;
    left: 115%;
    top: 4px;
    background-color: #1f2937; // Fondo oscuro
    color: #ffffff; // Texto blanco
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.25rem;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      border-width: 12px;
      border-style: solid;
      border-color: transparent #1f2937 transparent transparent;
    }
  }

  .sidebar__list li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

}
