<button class="btn"
  [ngClass]="{'btn--disabled': disabled, 'btn--hover':  isHover && !disabled, 'btn--icon': iconButton, 'btn--small': isSmall, 'btn--outline': isOutline, 'btn--warning': isWarning, 'btn--outline-primary': isOutlinePrimary, }"
  (mouseenter)="isHover = true" (mouseleave)="isHover = false">

  @if(iconButton){
  <img [src]="iconSrc" [alt]="iconAlt" class="btn__icon">
  }@else {
    @if(isLeftIcon){
    <img [src]="leftIconSrc" [alt]="iconAlt" class="btn__icon">
    }
    {{ text }}
  }

</button>
