.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--white);
  background: var(--primary);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover{
    background: var(--primary-dark-hover);
  }

  &:active {
    box-shadow: 0 0 0 3px var(--btn-focus);
    transform: scale(1.02);
  }

}

.btn--icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: transparent;
  padding: 0;

  &:hover{
    background: transparent;
  }

  // &:focus{
  //   border: 1px solid var(--primary-dark-hover);
  // }
}

.btn--disabled {
  background: var(--bg-disabled);
  color: var(--white);
  opacity: 0.6;

  &:active {
    box-shadow: none;
    transform: none;
  }
}

.btn--small {
  height: 40px;
  background: var(--primary);
  font-size: 0.875rem;
  padding: 0 12px;

  &:hover {
    background: var(--primary-dark-hover);
  }

  //&:focus,
  &:active {
    box-shadow: 0 0 0 3px var(--btn-focus);
    transform: scale(1.02);
  }
}

.btn--outline-primary {
  background: var(--primary-bg);
  border: 1px solid var(--primary);
  color: var(--primary-text);
  font-size: 1rem;

  &:hover {
    background: var(--primary-hover);
  }
}

.btn--outline {
  background: transparent;
  border: 1px solid var(--line);
  color: var(--dark-text);

  &:hover {
    background: transparent;
    box-shadow: 0 0 8px 2px var(--line);
  }

  &:active {
    box-shadow: none;
    transform: scale(1.02);
  }

  // &:focus {
  //   box-shadow: none;
  // }
}

.btn--warning {
  background: var(--error);

  &:hover {
    background: var(--error-dark);
  }

  &:active {
    box-shadow: none;
    transform: scale(1.02);
  }

  // &:focus {
  //   box-shadow: none;
  // }
}
