<button class="btn" [ngClass]="{'btn--disabled': disabled, 'btn--hover':  isHover && !disabled, icon: iconButton, 'btn--small': isSmall, 'btn--outline': isOutline, 'btn--warning': isWarning}"
  (mouseenter)="isHover = true" (mouseleave)="isHover = false">

  @if(iconButton){
  <ng-container >
    <img [src]="iconSrc" [alt]="iconAlt" class="btn__icon">
  </ng-container>

  }@else {
    <ng-container>
      @if(isLeftIcon){
        <img [src]="leftIconSrc" [alt]="iconAlt" class="btn__icon">
      }

      {{ text }}
    </ng-container>

  }

</button>
