.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--white);
  background: var(--gradient-bg);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 8px 2px var(--btn-focus);
    transform: scale(1.02);
  }

  &.icon {
    width: 32px;
    height: 32px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: transparent;
    padding: 0;
  }

}

.btn--hover {
  background: var(--gradient-hover-bg);
  transition: ease 0.3s;
}

.btn--disabled {
  background: var(--bg-disabled);
  color: var(--white);
  opacity: 0.6;

  &:focus {
    box-shadow: none;
    transform: none;
  }
}

.btn--small {
  height: 40px;
  background: var(--primary);
  font-size: 0.875rem;
  padding: 0 12px;

  &:hover {
    background: var(--primary-hover);
  }

  &:focus {
    box-shadow: 0 0 8px 2px var(--btn-focus);
    transform: scale(1.02);
  }
}

.btn--outline {
  background: transparent;
  border: 1px solid var(--line);
  color: var(--dark-text);

  &:hover {
    background: transparent;
    box-shadow: 0 0 8px 2px var(--line);
  }

  &:focus {
    box-shadow: none;
    transform: scale(1.02);
  }

}

.btn--warning {
  background: var(--error);

  &:focus {
    box-shadow: none;
    transform: scale(1.02);
  }
}
