:host {
  display: block;
  background: var(--white);
  border-radius: 24px;
  padding: 24px;
}


.application {
  width: 100%;

  &__top {

    &-title {
      font-size: 1.5rem;
      color: var(--dark-text);
      border-bottom: 1px solid var(--line);
      padding-bottom: 6px;
      margin-bottom: 6px;
    }

    &-company {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-logo {
        width: 32px;
        height: 32px;
      }

      &-name {
        font-size: 1.125rem;
        color: var(--text-dark-medium);
      }
    }


  }

  &__location {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-top: 6px;

    &-img {
      width: 18px;
    }

    &-name {
      font-size: 0.75rem;
      color: var(--text-medium);
    }
  }

  &__form {
    margin: 24px 0;

    &-section {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-label {
      font-size: 0.875rem;
      color: var(--title);
      font-weight: 500;
    }

    &-textarea {
      resize: vertical;
      min-height: 80px;
      color: var(--dark-text);
      font-size: 0.875rem;
      border: 1px solid var(--line);
      border-radius: 12px;
      padding: 8px;

      &::placeholder {
        font-size: 0.875rem;
        color: var(--placeholder);
      }

      &:focus,
      &:focus-visible {
        border: 1px solid var(--primary-hover);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    color: var(--text-dark-text);
    font-size: 0.875rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 32px;

    &-btn {
      width: 100%;
    }
  }
}


@media screen and (width > 768px) {
  .application {
    max-width: 100%;

    &__link{
      &:hover{
        color: var(--primary);
      }
    }

    &__buttons {
      flex-direction: row-reverse;
    }
  }

}
