<div class="input-container">
  <label class="input-container__label" [ngClass]="{'valid': isValid, 'invalid': isInvalid}" [for]="id">{{label}}</label>
  <input class="input-container__input" [ngClass]="{'valid': isValid, 'invalid': isInvalid}" [type]="type" [id]="id" [name]="name" [placeholder]="placeholder"
  [value]="value()" (input)="onInputChange($event)" (blur)="onTouched()" />

  @if(hasError('required')){
    <p class="input-container__input--error">Este campo es requerido.</p>
  }

  @if(hasError('email')){
    <p class="input-container__input--error">Por favor, ingresa un email válido.</p>
  }

</div>
