<div class="input-container">
  <label class="input-container__label" [ngClass]="{'valid': isValid, 'invalid': isInvalid, small: isSmall}" [for]="id">{{label}}</label>

  <input class="input-container__input" [ngClass]="{'valid': isValid, 'invalid': isInvalid, small: isSmall}" [type]="type" [id]="id" [name]="name" [placeholder]="placeholder"
  [value]="value()" (input)="onInputChange($event)" (blur)="onTouched()" />

  @if(type === 'password' && isPassword){
    <app-button class="input-container__input--icon" [iconButton]="true" iconSrc="icons/eye.svg" iconAlt="Mostrar contraseña" (click)="togglePassword()"></app-button>

  }
  @if(type === 'text' && isPassword){
    <app-button class="input-container__input--icon" [iconButton]="true" iconSrc="icons/eye-off.svg" iconAlt="Ocultar contraseña" (click)="togglePassword()"></app-button>
  }

  @if(hasError('required')){
    <p class="input-container__input--error">Este campo es requerido.</p>
  }

  @if(hasError('email')){
    <p class="input-container__input--error">Por favor, ingresa un email válido.</p>
  }

  @if(hasError('minlength')){
    <p class="input-container__input--error">Debe contener al menos 8 caracteres</p>
  }

</div>
