.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 246px 1fr;
  transition: grid-template-columns 0.4s ease;

  &.collapsed {
    transition: grid-template-columns 0.4s ease;
    grid-template-columns: 65px 1fr;
  }

  .main-content {
    overflow-y: auto;
  }
}
