.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  gap: 12px;
  background-color: var(--white);
  border: 1px solid var(--line);
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-card);
  }

  &__title {
    font-size: 0.875rem;
    color: var(--dark-text);
  }

  &__menu{
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 6px;

    &-trash{
      width: 16px;
    }

    &-text{
      font-size: 0.875rem;
      color: var(--dark-text);
    }

    &:hover{
      border-radius: 4px;
      background-color: var(--error-bg);
    }
  }

  &__btn {
    border: 2px solid var(--primary);
    border-radius: 50%;
    transition: transform 0.2s ease;

    &.scale {
      transform: scale(1.05);

    }
  }

}
