<section class="board">

  <app-header-board [board]="board" (gobackEvent)="goBack()" (searchEvent)="filterApplications($event)"
    (deleteEvent)="openDeleteBoardModal(board.id, $event)"></app-header-board>

  @if(!isLoading()){
  <section cdkDropListGroup class="board__group">
    @for (column of filteredColumns(); track $index) {
    <div class="board__container">
      <div cdkDropList [id]="column.id" [cdkDropListData]="column.applications"
        [cdkDropListConnectedTo]="connectedColumns()" class="board__list" tabindex="0"
        (cdkDropListDropped)="drop($event)">

        <div class="board__list-top">
          <img [src]="column.icon" alt="{{ column.name }}">
          <h2 class="board__list-title">{{ column.name }}</h2>
          <app-button class="board__list-add-icon" [iconButton]="true" iconSrc="/icons/plus.svg"
            iconAlt="Añadir postulación a la columna {{column.name}}"
            (click)="openApplicationModal(column.id)"></app-button>
        </div>

        @for (application of column.applications; track $index) {
        <div class="board__list-box" tabindex="0" cdkDrag (cdkDragMoved)="onDragMoved($event)"
          (click)="openApplicationDetail(application)">
          <div class="board__list-drag-placeholder" *cdkDragPlaceholder></div>
          <div class="board__list-box-top">
            <h4 class="board__list-box-top-title">{{ application.title }}</h4>
            <!-- <app-overflow-menu class="overflow">
              <div class="overflow-wrapper">
                <p class="overflow-wrapper-text">Ver detalle</p>
              </div>
              <div class="overflow-wrapper">
                <img class="overflow-wrapper-trash" src="/icons/delete.svg" alt="Papelera de eliminar">
                <p class="overflow-wrapper-text">Eliminar</p>
              </div>
            </app-overflow-menu> -->
            <p class="board__list-box-top-date-text show-desktop">{{ application.created_at | date:"dd/MM/yy" }}</p>

          </div>
          <div class="board__list-box-wrapper">
            <img class="board__list-box-wrapper-image" [src]="application.image_url || '/icons/company.svg'"
              alt="{{ application.company }}">
            <p class="board__list-box-wrapper-company">{{ application.company }}</p>
          </div>
          <img class="board__list-box-wrapper-delete show-desktop" src="/icons/delete.svg" alt="Eliminar postulación"
            (click)="openConfirmationModal(application.id, $event)">
        </div>
        }
      </div>
    </div>
    }
  </section>
  }
</section>
