<article class="modal">
  @if(data.showImage){
  <img [src]="data.srcImage" alt="{{data.altImage}}">
  }
  <h2 class="modal__title" [ngClass]="{'mt': data.showImage}">{{data.title}}</h2>
  <p class="modal__text">{{data.description}}</p>
  <div class="modal__buttons">
    <app-button [text]="data.cancelButtonText" (click)="onCancel()" [isSmall]="true" [isOutline]="true"></app-button>
    <app-button [text]="data.confirmButtonText" (click)="onConfirm()" [isSmall]="true"
      [isWarning]="data.isWarningButton"></app-button>
  </div>
</article>
